<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
      <section id="account-login" class="flexbox-container">
        <div class="col-12 d-flex align-items-center justify-content-center">
          <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-12 p-0 text-center d-none d-md-block">
            <div class="border-grey border-lighten-3 m-0 box-shadow-0 card-account-left height-400">
              <%= image_tag "user/account-login.png", class: "card-account-img width-200" %>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-12 p-0">
            <div class="card border-grey border-lighten-3 m-0 box-shadow-0 card-account-right height-400">
              <div class="card-content">
                <div class="card-body">
                  <p class="text-center h5 text-capitalize">Started with Crypto ICO!</p>
                  <p class="text-center">Create your account</p>
                  <div id="js-render">
                    <%= form_for @user, url: user_registration_path,
                      html: {class: "form-horizontal form-signin", id: "js-form-register"} do |f| %>
                      <fieldset class="form-label-group">
                        <%= f.email_field :email, autofocus: true, autocomplete: "email",
                          class: "form-control", placeholder: "Your Email" %>
                        <%= f.label :email %>
                      </fieldset>
                      <fieldset class="form-label-group">
                        <%= f.password_field :password, autocomplete: "off",
                          class: "form-control", placeholder: "Password" %>
                        <%= f.label :password %>
                      </fieldset>
                      <fieldset class="form-label-group">
                        <%= f.password_field :password_confirmation, autocomplete: "off",
                          class: "form-control", placeholder: "Password confirmation" %>
                        <%= f.label :password_confirmation %>
                      </fieldset>
                      <div class="form-group row">
                        <div class="col-12 text-center text-sm-left">
                          <fieldset>
                            <input type="checkbox" id="agree-contract"
                              class="chk-remember">
                            <label for="agree-contract">
                              I agree to Crypto ICO's terms</label>
                          </fieldset>
                        </div>
                      </div>
                      <button type="submit" class="btn-gradient-primary btn-block my-1">Sign Up</button>
                    <% end %>
                  </div>
                  <p class="text-center"><%= link_to "Sign in", login_path, class: "card-link" %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
