<div class="flex header-bar">
  <h3 class="title">Verify</h3>
  <a href="#"><i class="material-icons">help</i></a>
</div>
<hr class="mt15">
<h4 class="mb0"><span class="fw400">To verify your account, you must fill exactly all your information to this form below: </span></h4>
<div class="card mt15">
  <div class="card-content">
    <%= form_for @user, url: verify_path(@user), method: :patch,
      html: {class: "form-horizontal", id: "js-form-verify"} do |f| %>
      <div class="form-group">
        <label class="control-label col-sm-2" for="firstName">
          Your Firstname <span class="required">*</span>
        </label>
        <div class="col-sm-8">
          <%= f.text_field :first_name, class: "form-control",
            placeholder: "Enter your first name", required: true %>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="lastName">
          Your Lastname <span class="required">*</span>
        </label>
        <div class="col-sm-8">
          <%= f.text_field :last_name, class: "form-control",
            placeholder: "Enter your last name", required: true %>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="country">
          Country <span class="required">*</span>
        </label>
        <div class="col-sm-8">
          <%= f.select :country_id, options_for_select(Country.pluck(:id, :name).map {|id, name| [name, id]}, f.object.country_id), {include_blank: true}, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="city">City <span class="required">*</span></label>
        <div class="col-sm-8">
          <%= f.text_field :city, class: "form-control",
            placeholder: "Enter your City", required: true %>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Password <span class="required">*</span></label>
        <div class="col-sm-8">
          <%= f.password_field :password, class: "form-control",
            placeholder: "Confirm your City", required: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-lock-ct"
            style="background-color: lightcoral; color: white">Submit</button>
        </div>
      </div>
    <% end %>
  </div>
</div>
