<div class="flex header-bar">
  <h3 class="title">Change Password</h3>
  <a href="#"><i class="material-icons">help</i></a>
</div>
<hr class="mt15">
<h4 class="mb0"><span class="fw400">If you want to change your password, just fill the form bellow and submit: </span></h4>
<div class="card mt15">
  <div class="card-content">
    <%= form_for @user, url: change_password_path, html: {class: "form-horizontal", id: "js-form-change-pass"} do |f| %>
      <div class="form-group">
        <label class="control-label col-sm-2" for="old_password">Old Password:</label>
        <div class="col-sm-8">
          <%= f.password_field :current_password, class: "form-control", placeholder: "Enter your old password", required: true %>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Password:</label>
        <div class="col-sm-8">
          <%= f.password_field :password, class: "form-control", placeholder: "Enter password", required: true %>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd-confirm">Password Comfirmation:</label>
        <div class="col-sm-8">
          <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Enter password confirmation", required: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit "Submit", class: "btn btn-primary btn-block-ct" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
