<div id="page-content" ng-controller="StagesController as vm" ng-init="vm.init()">
  <div class="header-section">
    <div class="row">
      <div class="col-md-4 col-lg-6 hidden-xs hidden-sm">
        <h1><strong>Change Image in Landing page</strong><br><small>You Look Awesome!</small></h1>
      </div>
    </div>
  </div>
  <div class="block">
    <div class="block-title">
      <h2><strong>Custome Image</strong></h2>
    </div>
    <%= form_for [:admin, Image.new], html: {class: "form-horizontal form-bordered change-image", id: "update-image"} do |f| %>
      <input type="hidden"
        value="<%= form_authenticity_token() %>"
        name="authenticity_token"/>
      <div class="form-group">
        <label class="col-md-3 control-label" for="example-select">Select</label>
        <div class="col-md-3">
          <select id="position-select" name="image[image_type]" class="form-control" size="1">
            <% Image.image_types.each do |key, value| %>
              <option value="<%= key %>" data-note="<%= t "landing_image.#{key}" %>"><%= t "image_settings.#{key}" %></option>
            <% end %>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label" for="example-file-input">Please Choise Image</label>
        <div class="col-md-9">
          <%= f.file_field :image, class: 'image-choise' %>
          <span class="help-block image-choise-note">* Please choise image with 510x411 pixels</span>
        </div>
      </div>
      <div class="form-group form-actions">
        <div class="col-md-9 col-md-offset-3">
          <button class="btn btn-sm btn-primary image-submit"><i class="fa fa-angle-right"></i> Submit</button>
        </div>
      </div>
    <% end %>
  </div>
  <div class="block">
    <div class="block-title">
      <h2><strong>Image In Your Site</strong></h2>
    </div>
    <div class="row">
      <% @images.each do |image| %>
        <div class="row" style="padding: 20px;" align="center">
          <div><strong><%= t "image_settings.#{image.image_type}" %> page</strong></div>
          <span class="oh_<%= image.image_type %>">
            <%= image_tag image.image_url, class: "ohh_#{image.image_type}" %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
</div>
